MONGODB_URI=mongodb+srv://blakeflyz1_db_user:REkE0JzAuMQUWZNU@cluster0.fh6dmbp.mongodb.net/superbowl2026?retryWrites=true&w=majority&appName=Cluster0
PORT=4000
NODE_ENV=production
FRONTEND_URL=https://superbowl-2026.vercel.app
